@inject IJSRuntime JS

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Blazor Web app.


<main class="main-container">

    <div class="container">
        <my-component first="Blazor" middle="a framework"></my-component>

        <tooltip-stencil-component class="tooltip-wrapper" text="Search for a Stock Symbol">
            Search or Find your Stock Symbol in Blazor
        </tooltip-stencil-component>


        <!-- Alpha Vantage Stock Price Components -->
        <stock-price-component class="stock-wrapper" stock-symbol="MSFT"></stock-price-component>

        <stock-finder-component class="stock-wrapper"></stock-finder-component>
    </div>
</main>

@code {

  protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            @* var avKey = "your_alpha_vantage_api_key_here"; // Consider securely managing this key *@
            await JS.InvokeVoidAsync("setAvApiServiceOnComponent", "stock-price-component");
            await JS.InvokeVoidAsync("setAvApiServiceOnComponent", "stock-finder-component");
        }
    }

}